<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELearning_Bahasa_madura"
        tools:targetApi="31" >

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash"
            android:exported="true">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.user.HomePage"/>
        <activity android:name=".view.user.Terjemahan" />
        <activity android:name=".view.user.TingkatBahasa" />
        <activity android:name=".view.user.Pelafalan" />
        <activity android:name=".view.user.Evaluasi" />
        <activity android:name=".view.user.EvalTerjemahan" />
        <activity android:name=".view.user.EvalTingkatBahasa" />
        <activity android:name=".view.user.EvalPelafalan" />
        <activity android:name=".auth.Login"/>
        <activity android:name=".auth.Register" />
        <activity android:name=".view.admin.InputKosakata"/>
        <activity android:name=".view.admin.InputEvalTb"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.admin.InputEvalTerjemahan"/>
        <activity android:name=".view.admin.InputEvalPelafalan"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.admin.EditKosakata"/>
        <activity android:name=".view.admin.EditEvalTerjemahan"/>
        <activity android:name=".view.admin.EditEvalTb"/>
        <activity android:name=".view.admin.EditEvalPelafalan"/>
        <activity android:name=".view.admin.SoalEvaluasi"/>
        <activity android:name=".view.admin.ListKosakata"/>
    </application>
</manifest>